* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;

    font-family: "Lato", sans-serif;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    color: #000;
    text-decoration: none;
}

.section {
    padding: 60px 0;
}

.section-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-title h2 {
    font-size: 40px;
    font-weight: 700;
    color: #535a5e;
    line-height: 60px;
}

/* header & hero section start */

.main-header {
    min-height: 100vh;
    position: relative;
    padding-bottom: 80px;
}

.hero-carousel {
    width: 100%;
    z-index: -1;
    top: 0;
}

.carousel-item img {
    object-fit: cover;
    object-position: center center;
}

.top-nav {
    padding: 32px;
}

.top-nav svg {
    width: 16px;
    height: 16px;
    fill: #fff;
}

.top-nav-left li a {
    font-size: 16px;
    color: #444;
    font-weight: 700;
    line-height: 24px;
}

.nav-item .nav-link {
    font-family: "Bungee", sans-serif;
    color: #fff;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    padding: 10px 0 !important;
    transition: all .3s ease-in;
}

.nav-item .nav-link.active {
    border-bottom: 3px solid #535a5e;
}

.nav-item .nav-link:hover {
    border-bottom: 3px solid #535a5e;
}

.offcanvas-end {
    width: fit-content;
}

.navbar {
    align-items: flex-start;
    padding: 0px 110px;
}

.navbar-nav-links {
    gap: 80px;
    padding-top: 15px;
}

.navbar-brand {
    padding: 32px;
    margin: 0 auto;
}


.hero-content {
    padding-top: 126px !important;
    padding: 0 95px;
}

.hero-content h2 {
    font-size: 60px;
    line-height: 90px;
    font-family: "Chonburi", serif;
    color: #fff;
}

.hero-content h3 {
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
    color: #fff;
}

.hero-content-bt {
    justify-content: center;
    padding-top: 50px;
}

.hero-content-bt h2 {
    font-size: 40px;
    line-height: 60px;
    font-weight: 700;
    color: #fff;
    font-family: "Lato", sans-serif;

}

.hero-content-bt a {

    font-weight: 600;
    text-transform: uppercase;
    padding: 13px 22px;
    height: fit-content;
    font-size: 20px;
    line-height: 1;
    background-color: #fff;
    color: #444;
    border-radius: 6px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all .3s ease;
}

.hero-content-bt a:hover {
    background-color: #444;
    color: #fff;
}

.hero-content-bt a i {
    color: #444;
    transition: all .3s ease;

}

.hero-content-bt a:hover i {
    color: #fff;
}

.scroll-count {
    padding-bottom: 1rem;
    border-width: 2px 2px 2px 2px;
    border-style: solid;
    border-color: #535a5e;
    border-radius: 25px;
    box-shadow: none;
    display: block;
    width: 3rem;
    margin: 50px auto;
    height: calc(3rem * 1.75);
    position: relative;
}

.scroll-count::before {
    position: absolute;
    left: 50%;
    content: '';
    max-width: 0.5rem;
    max-height: 0.5rem;
    background: #535a5e;
    transform: translateX(-50%);
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-name: scroll;
    width: calc(3rem / 5);
    top: calc(3rem / 5);
    height: calc(3rem / 5);
}

@keyframes scroll {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0;
        transform: translateY(calc(100% + 3rem)) translateX(-50%)
    }
}

/* header & hero section end */

/* Services section start */

.services-contnet {
    padding: 50px 50px;
    text-align: center;
}

.services-contnet-title h3 {
    font-size: 30px;
    font-family: "Chonburi", serif;
    padding-bottom: 10px;

}

.services-contnet-title hr {
    width: 60%;
    margin: 10px auto;
    background-color: #535a5e;
}

.services-info {
    text-align: left;
    padding: 40px 0;
}

.services-info-box h4 {
    font-size: 18px;
    font-weight: 700;
    color: #444;
}

.services-info-box ul {
    padding-top: 20px;
}

.services-info-box ul li {
    font-size: 16px;
    color: #444;
    font-weight: 300;
    display: flex;
    align-items: center;
    gap: 7px;
    margin-bottom: 5px;
}

.services-info-box ul li svg {
    width: 10px;
    fill: #444;
}

/* Services section end */



@media only screen and (max-width: 768px) and (min-width: 300px) {
    .top-nav-left {
        display: none;
    }

    .top-nav {
        justify-content: center !important;
    }

    .navbar {
        padding: initial;
        align-items: center;
    }

    .nav-item .nav-link {
        color: #444 !important;
    }

    .hero-content {
        padding: 20px;
        padding-top: 20px !important;
        text-align: center;
    }

    .hero-content h2 {
        font-size: 34px;
        line-height: 40px;
    }

    .hero-content-bt {
        flex-direction: column;
    }
}